body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/*register content*/
#main_box{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    gap: 1%;
    background-color: rgb(72, 72, 72);
    height: 100%;
    min-height: 1080px;
    align-items: center;
}
#main_title{
    grid-column: 2/3;
    text-align: center;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
#register_box{
    grid-column: 2/3;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form > label {
    display: block;
    text-align: left;
    margin-top: 1rem;
    font-weight: bold;
    color: white;
}
#text_box {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

#button_register {
    margin-top: 1.5rem;
    width: 25%;
    padding: 0.75rem;
    background-color: #0bda00;
    border: rgb(255, 255, 255) solid 0.1rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border-radius: 2rem;
}

#button_register:hover {
    background-color: #008c21;
    color: black;
}


/* text info */
#info {
    color: red;
    margin-top: 1rem;
}

#complete {
    color: green;
    margin-top: 1rem;
}

/*lower box*/
#user_count_box {
    grid-column: 2/3;
    text-align: center;
    padding: 1rem;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}

